<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <img src="software.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, veritatis. Incidunt, libero est hic
          repudiandae fugiat amet sit magnam soluta!</p>
      </div>
      <div class="card-footer">
        <form action="/checkout" method="POST">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_taBi1vb2iiJysIusTU4Ia2Yu" data-amount="3000" data-name="FaztSoft"
            data-description="Video Editing Software" data-image="/fazt_logo.png" data-locale="auto">
            </script>
          <script>
            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
          </script>
          <button type="submit" class="btn btn-dark btn-block">
            Buy <i class="fas fa-shopping-cart"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>